div#snippet_guest_card {
  padding: 0;
}

.snippets-container .new-form#guest_card_form {
  padding: 0;
}

.new-form .vertform-item.radio label, .new-form .vertform-item.checkbox label {
    color: white;
}

.snippets-container {
    color: white;
}

.pp-content a:not(.btn):not(.search-btn):not(.primary-action):not(.toggle-btn):not(.icon):not(.mrktng-space__btn):not(.other-fp-link):not(.fp-phone):not(.amenity-camera):not(.amenity-video):not(.user-locator):not(.place-btn):not(.directions-type):not(.close-action):not(.js-property-details), .result-list a:not(.btn):not(.search-btn):not(.primary-action):not(.toggle-btn):not(.icon):not(.mrktng-space__btn):not(.other-fp-link):not(.fp-phone):not(.amenity-camera):not(.amenity-video):not(.user-locator):not(.place-btn):not(.directions-type):not(.close-action):not(.js-property-details), .career-container a:not(.btn):not(.search-btn):not(.primary-action):not(.toggle-btn):not(.icon):not(.mrktng-space__btn):not(.other-fp-link):not(.fp-phone):not(.amenity-camera):not(.amenity-video):not(.user-locator):not(.place-btn):not(.directions-type):not(.close-action):not(.js-property-details), .blog-wrapper a:not(.btn):not(.search-btn):not(.primary-action):not(.toggle-btn):not(.icon):not(.mrktng-space__btn):not(.other-fp-link):not(.fp-phone):not(.amenity-camera):not(.amenity-video):not(.user-locator):not(.place-btn):not(.directions-type):not(.close-action):not(.js-property-details), .snippets-container a:not(.btn):not(.search-btn):not(.primary-action):not(.toggle-btn):not(.icon):not(.mrktng-space__btn):not(.other-fp-link):not(.fp-phone):not(.amenity-camera):not(.amenity-video):not(.user-locator):not(.place-btn):not(.directions-type):not(.close-action):not(.js-property-details), .text-page a:not(.btn):not(.search-btn):not(.primary-action):not(.toggle-btn):not(.icon):not(.mrktng-space__btn):not(.other-fp-link):not(.fp-phone):not(.amenity-camera):not(.amenity-video):not(.user-locator):not(.place-btn):not(.directions-type):not(.close-action):not(.js-property-details) {
    color: white;
}

.new-form .vertform-item .datepicker-combo .add-on {
    color: #fee139;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white!important;
}

::input-placeholder { /* Chrome/Opera/Safari */
  color: white!important;
}


label {
    color: white!important;
}

.new-form input[type="radio"].toggle-option:checked + label {
    border-color: #ffdd00;
    color: #404041!important;
    background-color: #ffdd00;
}

label.toggle-btn.js-pet-toggle {}

label.toggle-btn.js-pet-toggle {}

.new-form .toggle-btn {
    border-color: #ffdd00;
    background: transparent;
}

.new-form .vertform-item .text-count-label {
    color: #ffdd00;
}

.new-form .vertform-item .select-menu.light .icon {
    color: #ffdd00;
}

button.btn.submit.js-submit {
    border-radius: 0px;
    appearance: none;
    padding: 12px 42px;
    background: #ffdd00;
    color: #404041;
    font-size: 20px;
    font-family: 'archivonarrow';
}
* {
  box-sizing: border-box;
  font-family: 'archivonarrow';
}

@font-face {
  font-family: 'archivonarrow';
  src: url('https://crismannoble.github.io/elevate//assets/fonts/ArchivoNarrow-Regular.woff2') format('woff2'),
         url('https://crismannoble.github.io/elevate//assets/fonts/ArchivoNarrow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'estandarrd';
  src: url('https://crismannoble.github.io/elevate//assets/fonts/estandarrd-regular-webfont.woff2') format('woff2'),
       url('https://crismannoble.github.io/elevate//assets/fonts/estandarrd-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;